.iconButton {
  background: #1d1d1d;
  color: white;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}

.iconButton:hover {
  background: #0077ff;
  color: #1d1d1d;
}

.selected {
  background: #0077ff;
  color: #1d1d1d;
}
