.tab {
  background: #1d1d1d;
  color: white;
  padding: 8px 12px;
  margin-left: 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.tab:hover {
  background: #0077ff;
  color: #1d1d1d;
}

.selected {
  background: #0077ff;
  color: #1d1d1d;
}
