.feeds {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 70.4px);
  overflow-y: scroll;
}

.feeds > hr {
  border: 1px solid #262626;
  border-radius: 30px;
  width: 60%;
  margin: 30px 0;
}

.createPost {
  width: 60%;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header > input {
  margin-left: 20px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}

.header > input:hover {
  background: #2626269c;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #262626;
}

.postButton {
  width: 100%;
  margin-top: 20px;
}

.postButton > button {
  position: relative;
  right: -135px;
}

.warning {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: baseline;
  width: 60%;
  color: rgb(199, 74, 74);
  margin-top: 20px;
}

.warning > span {
  margin-left: 10px;
  font-weight: 500;
  font-size: small;
}

.warning > button {
  font-size: small;
  font-weight: 500;
}
