.addPost {
  width: 500px;
  max-width: 35%;
  display: flex;
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 10;
  padding: 20px 30px;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  transform: translate(-155px, -255px);
}

.textArea {
  width: 100%;
  margin-top: 30px;
  background-color: #1d1d1d;
  border: none;
  border-bottom: 1px solid #302f2f;
  outline: none;
  color: white;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  resize: vertical;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header > h3 {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #262626;
}

.actions {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  /* background-color: #20bd5f; */
  align-items: center;
  justify-content: space-between;
}

.actions > button {
  margin: 0;
}

.iconsContainer {
  display: flex;
  align-items: center;
}

.actionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  height: 30px;
  width: 30px;
  padding: 7px;
  border-radius: 50%;
  background-color: #20bd5f;
  cursor: pointer;
}

.actionIcon:hover {
  background-color: #20bd5fad;
}

.actionIcon > span {
  margin-left: 12px;
}

.reqAction {
  background-color: #1d1d1d;
  color: white;
}

.reqAction:hover {
  background: #0077ff;
  color: #1d1d1d;
}

.reqSelected {
  background: #0077ff;
  color: white;
}

.controlButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.controlButtons > button {
  width: 40%;
  padding: 12px 70px;
  justify-content: space-evenly;
}

.addSkillContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.addSkillContainer > button {
  margin: 0;
  margin-left: 5px;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0;
}
