.feed {
  width: 60%;
}

.feed hr {
  border: 1px solid #262626;
  border-radius: 30px;
  width: 80%;
  margin: 20px 0;
}

.content {
  margin-top: 30px;
  width: 100%;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0;
}

.actions {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.actionIcon {
  margin-right: 25px;
  cursor: pointer;
}

.actionIcon:hover {
  color: #0077ff;
}

.actionIcon > span {
  margin-left: 12px;
}

.comment {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}

.comment > input {
  width: 90%;
  margin-right: 18px;
}

.send {
  background-color: #0077ff;
  height: 45px;
  width: 45px;
}

.intrested {
  background-color: #262626;
}

.notification {
  position: relative;
  bottom: 12px;
  right: 19px;
  font-size: x-small;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
}

.responseTileContainer {
  width: 100%;
  min-height: 100px;
  max-height: 350px;
  overflow-y: auto;
  margin-top: 30px;
}

.responseTileContainer > hr {
  border: 1px solid #262626;
  border-radius: 30px;
  width: 80%;
  margin: 20px auto;
}
