.skill {
  background: #0077ff;
  display: flex;
  padding: 5px 15px;
  margin: 5px 4px;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
}

.skill > span {
  cursor: pointer;
  margin-left: 8px;
}

.skill > span:hover {
  color: #1d1d1d;
}
